<div class='card'>
  <div class='row banner'>
    <div class='col-md-12'>
      <h1><i class="fas fa-medal"></i> Top donors for <%= @date.strftime("%B %Y") %></h1>
    </div>
  </div>
  <div class='card-body'>
    <table class='table'>
      <thead>
        <th>User</th>
        <th>Amount Donated</th>
      </thead>
      <tbody>
        <% @ranked_donations.each do |user, total| %>
          <tr>
            <td>
              <a href="<%= user_path(user.id) %>">
                <% if user == current_user %>
                  You
                <% else %>
                  <% if user.nickname.present? %>
                    <%= user.nickname %>
                  <% else %>
                    ???
                  <% end %>
                <% end %>
              </a>
            </td>
            <td>
              <%= MoneyHelper.format_amount(total) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
