<div class='card'>
  <div class='card-body'>
    <ul>
      <% Donation.all.pluck(:pledgeling_organization_id, :pledgeling_organization_name).uniq.each do |id, name| %>
        <li>
          <%= name %>: <%= MoneyHelper.format_amount(Donation.total_donations_for(id)) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
