<div class='card'>
  <br>
  <div class='row' style='background: darkorange;'>
    <h3>
      Charitable Donations + Gamifications = Increase Goodwill (??)
    </h3>
  </div>
  <div class='card-body'>
      This application uses <a href='https://stripe.com/'>Stripe</a> to process payments and then the token that is returned from Stripe is submitted to <a href='https://www.pledgeling.com/'>Pledgeling</a> to allow for secure payment processing.
    </p>
    <p>
      <b>
        At no point in your experience will this app ever store your PII, beyond your full name and email. If you'd like to audit for yourself, the source code is linked below.
      </b>
    </p>
    <div class='row'>
      <div class='col-md-4'><a href='http://www.melissaeaton.me'><i class="fas fa-external-link-alt"></i> My Personal Website</a></div>
      <div class='col-md-4'><a href='https://twitter.com/AltruismSocial'><i class="fab fa-twitter"></i> Twitter</a></div>
      <div class='col-md-4'><a href='https://github.com/meaton-potatoes/SocialAltruism' target='_blank'><i class="fab fa-github"></i> Github Repository</a></div>
    </p>
  </div>
</div>
