<div class='card'>
  <div class='card-body'>
    <h1>About</h1>
    <p>
      <a href='https://github.com/meaton-potatoes/SocialAltruism' target='_blank'><i class="fab fa-github"></i> Github Repository</a>
    </p>
    <p>
      Information will go here
    </p>
  </div>
</div>
