/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */

body {
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Muli', sans-serif;
  color: #212529;
}

#organizations table {
  tr:hover {
    background-color: gold;
  }
}

.organization {
  margin: 10px;
  border: 1px solid #dafcef;
}

.organization:hover {
  border: 1px solid rgb(4, 219, 236);
  box-shadow: rgba(133, 66, 189, 0.1) 0px 10px 30px 0px;
}

.organization .image {
  padding: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.navbar {
  a {
    color: #000;
  }
}

.btn-primary, .btn-primary:active {
  background: #04dbec;
  border: none;
}

#organizations td {
  padding: 10px;
}

.alert {
  border: none;
  border-radius: 0;
  color: #212529;
}

.alert.alert-success {
  background: yellowgreen;
}

.alert.alert-danger {
  background: red;
}

#welcome-map .col-md-3 {
  border: 1px solid #000;
}

.fa-angle-right, .fa-angle-down {
  cursor: pointer;
}
